In [697]:
import pandas as pd
import numpy as np

In [698]:
df2024 = pd.read_csv("data/2024.csv")
df2023 = pd.read_csv("data/2023.csv")
df2022 = pd.read_csv("data/2022.csv")
df2021 = pd.read_csv("data/2021.csv")
df2020 = pd.read_csv("data/2020.csv")
df2019 = pd.read_csv("data/2019.csv")
df2018 = pd.read_csv("data/2018.csv")
df2017 = pd.read_csv("data/2017.csv")
df2016 = pd.read_csv("data/2016.csv")
df2015 = pd.read_csv("data/2015.csv")

In [699]:
for year in range(2015, 2024):
    globals()[f"df{year}"].columns = [col.strip() for col in globals()[f"df{year}"].columns]

In [700]:
df2024 = df2024.rename(columns={"Ladder score": "Happiness score"})
df2024 = df2024.rename(columns=lambda col: col.replace("Explained by: ", ""))
df2024 = df2024.drop(columns=["Dystopia + residual"])
df2024 = df2024.drop(columns=["upperwhisker"])
df2024 = df2024.drop(columns=["lowerwhisker"])

df2024["Happiness rank"] = df2024["Happiness score"].rank(ascending=False, method="min").astype(int)

cols = df2024.columns.tolist()
new_order = ["Country name", "Happiness rank"] + [col for col in cols if col not in ["Country name", "Happiness rank"]]
df2024 = df2024[new_order]

df2024 = df2024[new_order]

df2024.head()

,Country name,Happiness rank,Happiness score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,1,7.741,1.844,1.572,0.695,0.859,0.142,0.546
1,Denmark,2,7.583,1.908,1.520,0.699,0.823,0.204,0.548
2,Iceland,3,7.525,1.881,1.617,0.718,0.819,0.258,0.182
3,Sweden,4,7.344,1.878,1.501,0.724,0.838,0.221,0.524
4,Israel,5,7.341,1.803,1.513,0.740,0.641,0.153,0.193

In [701]:
df2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  143 non-null    object
 1   Happiness rank                143 non-null    int64
 2   Happiness score               143 non-null    float64
 3   Log GDP per capita            140 non-null    float64
 4   Social support                140 non-null    float64
 5   Healthy life expectancy       140 non-null    float64
 6   Freedom to make life choices  140 non-null    float64
 7   Generosity                    140 non-null    float64
 8   Perceptions of corruption     140 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 10.2+ KB

In [702]:
df2024[df2024.isnull().any(axis=1)]

,Country name,Happiness rank,Happiness score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
61,Bahrain,62,5.959,NaN,NaN,NaN,NaN,NaN,NaN
87,Tajikistan,88,5.281,NaN,NaN,NaN,NaN,NaN,NaN
102,State of Palestine,103,4.879,NaN,NaN,NaN,NaN,NaN,NaN

In [703]:
df2023 = df2023.drop(columns=["Upperwhisker"])
df2023 = df2023.drop(columns=["Lowerwhisker"])

df2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  137 non-null    object
 1   Happiness Rank                137 non-null    int64
 2   Happiness score               137 non-null    float64
 3   Economy (GDP per Capita)      137 non-null    float64
 4   Social support                137 non-null    float64
 5   Healthy life expectancy       136 non-null    float64
 6   Freedom to make life choices  137 non-null    float64
 7   Generosity                    137 non-null    float64
 8   Perceptions of corruption     137 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 9.8+ KB

In [704]:
df2023[df2023.isnull().any(axis=1)]

,Country name,Happiness Rank,Happiness score,Economy (GDP per Capita),Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
98,State of Palestine,99,4.908,1.144,1.309,NaN,0.416,0.065,0.067

In [705]:
df2022 = df2022.drop(columns=["Upperwhisker"])
df2022 = df2022.drop(columns=["Lowerwhisker"])
df2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  146 non-null    object
 1   Happiness Rank                146 non-null    int64
 2   Happiness score               146 non-null    float64
 3   Economy (GDP per Capita)      146 non-null    float64
 4   Social support                146 non-null    float64
 5   Healthy life expectancy       146 non-null    float64
 6   Freedom to make life choices  146 non-null    float64
 7   Generosity                    146 non-null    float64
 8   Perceptions of corruption     146 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 10.4+ KB

In [706]:
df2021 = df2021.drop(columns=["Upperwhisker"])
df2021 = df2021.drop(columns=["Lowerwhisker"])
df2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  149 non-null    object
 1   Happiness Rank                149 non-null    int64
 2   Happiness score               149 non-null    float64
 3   Economy (GDP per Capita)      149 non-null    float64
 4   Social support                149 non-null    float64
 5   Healthy life expectancy       149 non-null    float64
 6   Freedom to make life choices  149 non-null    float64
 7   Generosity                    149 non-null    float64
 8   Perceptions of corruption     149 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 10.6+ KB

In [707]:

df2020 = df2020.drop(columns=["Upperwhisker"])
df2020 = df2020.drop(columns=["Lowerwhisker"])
df2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  153 non-null    object
 1   Happiness Rank                153 non-null    int64
 2   Happiness score               153 non-null    float64
 3   Economy (GDP per Capita)      153 non-null    float64
 4   Social support                153 non-null    float64
 5   Healthy life expectancy       153 non-null    float64
 6   Freedom to make life choices  153 non-null    float64
 7   Generosity                    153 non-null    float64
 8   Perceptions of corruption     153 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 10.9+ KB

In [708]:
cols = df2019.columns.tolist()
new_order = ["Country or region", "Overall rank"] + [col for col in cols if col not in ["Country or region", "Overall rank"]]
df2019 = df2019[new_order]
df2019 = df2019.rename(columns={"Country or region": "Country name"})

df2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  156 non-null    object
 1   Overall rank                  156 non-null    int64
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [709]:
cols = df2018.columns.tolist()
new_order = ["Country or region", "Overall rank"] + [col for col in cols if col not in ["Country or region", "Overall rank"]]
df2018 = df2018[new_order]

df2018 = df2018.rename(columns={"Country or region": "Country name"})
df2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country name                  156 non-null    object
 1   Overall rank                  156 non-null    int64
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [710]:
df2017 = df2017.drop(columns=["Dystopia.Residual", "Whisker.high", "Whisker.low"])

df2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Economy..GDP.per.Capita.       155 non-null    float64
 4   Family                         155 non-null    float64
 5   Health..Life.Expectancy.       155 non-null    float64
 6   Freedom                        155 non-null    float64
 7   Generosity                     155 non-null    float64
 8   Trust..Government.Corruption.  155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.0+ KB

In [711]:
df2016 = df2016.drop(columns=["Region", "Lower Confidence Interval", "Upper Confidence Interval", "Dystopia Residual"])
cols = df2016.columns.tolist()
trust_idx = cols.index("Trust (Government Corruption)")
generosity_idx = cols.index("Generosity")
cols[trust_idx], cols[generosity_idx] = cols[generosity_idx], cols[trust_idx]
df2016 = df2016[cols]

df2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Happiness Rank                 157 non-null    int64
 2   Happiness Score                157 non-null    float64
 3   Economy (GDP per Capita)       157 non-null    float64
 4   Family                         157 non-null    float64
 5   Health (Life Expectancy)       157 non-null    float64
 6   Freedom                        157 non-null    float64
 7   Generosity                     157 non-null    float64
 8   Trust (Government Corruption)  157 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.2+ KB

In [712]:
df2015 = df2015.drop(columns=["Region", "Standard Error",  "Dystopia Residual"])
cols = df2015.columns.tolist()
trust_idx = cols.index("Trust (Government Corruption)")
generosity_idx = cols.index("Generosity")
cols[trust_idx], cols[generosity_idx] = cols[generosity_idx], cols[trust_idx]
df2015 = df2015[cols]
df2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Happiness Rank                 158 non-null    int64
 2   Happiness Score                158 non-null    float64
 3   Economy (GDP per Capita)       158 non-null    float64
 4   Family                         158 non-null    float64
 5   Health (Life Expectancy)       158 non-null    float64
 6   Freedom                        158 non-null    float64
 7   Generosity                     158 non-null    float64
 8   Trust (Government Corruption)  158 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.2+ KB

In [713]:
for year in range(2015, 2025):
    globals()[f"df{year}"]["Year"] = year

In [714]:

standard_columns = df2024.columns.tolist()
dfs = []
for year in range(2015, 2025):
    df = globals()[f"df{year}"]
    
    df.columns = [col.strip() for col in df.columns]
    df.columns = standard_columns[:len(df.columns)]
    dfs.append(df)

df_all_years = pd.concat(dfs, ignore_index=True)

df_all_years.sample(20)

,Country name,Happiness rank,Happiness score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
934,Afghanistan,153,2.570,0.300000,0.360000,0.270000,0.000000,0.140000,0.000000,2020
550,Montenegro,81,5.347,1.017000,1.279000,0.729000,0.259000,0.111000,0.081000,2018
460,Yemen,146,3.593,0.591683,0.935382,0.310081,0.249464,0.104125,0.056767,2017
622,Tanzania,153,3.303,0.455000,0.991000,0.381000,0.481000,0.270000,0.097000,2018
567,Somalia,98,4.982,0.000000,0.712000,0.115000,0.674000,0.238000,0.282000,2018
1293,China,64,5.818,1.510000,1.249000,0.468000,0.666000,0.115000,0.145000,2023
1224,Lesotho*,141,3.512,0.839000,0.848000,0.000000,0.419000,0.076000,0.018000,2022
792,Canada,11,7.230,1.300000,1.440000,1.020000,0.640000,0.280000,0.350000,2020
1392,Uruguay,26,6.611,1.596000,1.431000,0.592000,0.775000,0.106000,0.220000,2024
977,Chile,43,6.172,1.200000,0.946000,0.678000,0.438000,0.159000,0.070000,2021
1348,Gambia,119,4.279,0.761000,0.614000,0.174000,0.286000,0.332000,0.033000,2023
903,Namibia,122,4.570,0.840000,1.250000,0.410000,0.440000,0.080000,0.050000,2020
1176,Gambia*,93,5.164,0.785000,0.621000,0.369000,0.367000,0.388000,0.103000,2022
432,Gabon,118,4.465,1.198210,1.155620,0.356579,0.312329,0.043785,0.076047,2017
589,Cambodia,120,4.433,0.549000,1.088000,0.457000,0.696000,0.256000,0.065000,2018
1115,Kosovo,32,6.455,1.362000,0.949000,0.569000,0.599000,0.309000,0.035000,2022
1132,El Salvador,49,6.120,1.265000,0.768000,0.607000,0.666000,0.089000,0.212000,2022
895,Mali,114,4.730,0.350000,0.970000,0.230000,0.380000,0.170000,0.060000,2020
560,Nigeria,91,5.155,0.689000,1.172000,0.048000,0.462000,0.201000,0.032000,2018
549,Lebanon,80,5.358,0.965000,1.179000,0.785000,0.503000,0.214000,0.136000,2018

In [715]:
rare_countries = df_all_years["Country name"].value_counts()
rare_countries = rare_countries[rare_countries < 8].index

df_rare = df_all_years[df_all_years["Country name"].isin(rare_countries)]
df_rare["Country name"].value_counts()

Country name
Czech Republic             7
Belarus                    7
Lesotho                    7
Turkmenistan               7
Palestinian Territories    7
                          ..
Mauritania*                1
Botswana*                  1
Lesotho*                   1
Rwanda*                    1
Eswatini                   1
Name: count, Length: 64, dtype: int64

In [716]:
df_all_years["Country name"] = df_all_years["Country name"].str.strip()        
df_all_years["Country name"] = df_all_years["Country name"].str.replace(r"[^\w\s]", "", regex=True)

In [717]:
from fuzzywuzzy import process

unique_names = df_all_years["Country name"].unique()
standardized_names = {}

reference_list = df2024["Country name"].unique().tolist()


for name in unique_names:
    match, score = process.extractOne(name, reference_list)
    if score > 90:  
        standardized_names[name] = match


df_all_years["Country name"] = df_all_years["Country name"].replace(standardized_names)

In [718]:
df_all_years.sample(20)

,Country name,Happiness rank,Happiness score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
170,United States,13,7.104,1.50796,1.04782,0.77900,0.48163,0.41077,0.14868,2016
1069,Madagascar,135,4.208,0.26600,0.50300,0.34100,0.20700,0.18500,0.08700,2021
744,Georgia,119,4.519,0.88600,0.66600,0.75200,0.34600,0.04300,0.16400,2019
686,Bolivia,61,5.779,0.77600,1.20900,0.70600,0.51100,0.13700,0.06400,2019
688,Paraguay,63,5.743,0.85500,1.47500,0.77700,0.51400,0.18400,0.08000,2019
171,Costa Rica,14,7.087,1.06879,1.02152,0.76146,0.55225,0.22553,0.10547,2016
969,Brazil,35,6.330,1.02800,0.94400,0.57100,0.51400,0.14200,0.11700,2021
1425,Malaysia,59,5.975,1.64600,1.14300,0.54000,0.82900,0.22600,0.11900,2024
1121,Brazil,38,6.293,1.46200,1.04400,0.61500,0.54600,0.13100,0.13400,2022
482,Costa Rica,13,7.072,1.01000,1.45900,0.81700,0.63200,0.14300,0.10100,2018
497,Brazil,28,6.419,0.98600,1.47400,0.67500,0.49300,0.11000,0.08800,2018
710,Nigeria,85,5.265,0.69600,1.11100,0.24500,0.42600,0.21500,0.04100,2019
1045,Iraq,111,4.854,0.91000,0.63800,0.38100,0.30200,0.15300,0.04100,2021
74,Vietnam,75,5.360,0.63216,0.91226,0.74676,0.59444,0.16860,0.10441,2015
604,Uganda,135,4.161,0.32200,1.09000,0.23700,0.45000,0.25900,0.06100,2018
905,Liberia,124,4.560,0.17000,0.92000,0.39000,0.41000,0.23000,0.05000,2020
924,Lesotho,143,3.650,0.45000,1.09000,0.10000,0.41000,0.10000,0.05000,2020
486,Luxembourg,17,6.910,1.57600,1.52000,0.89600,0.63200,0.19600,0.32100,2018
1170,Indonesia,87,5.240,1.38200,0.88300,0.53900,0.62000,0.46800,0.04700,2022
1178,Laos,95,5.140,1.23900,0.65400,0.47900,0.67900,0.19700,0.18400,2022

In [719]:
#df_all_years.to_csv("happiness_all_years.csv", index=False)

In [720]:
df_all_years[df_all_years["Country name"].str.startswith("Cze")]

,Country name,Happiness rank,Happiness score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
30,Czech Republic,31,6.505,1.178980,1.206430,0.844830,0.463640,0.106860,0.026520,2015
184,Czech Republic,27,6.596,1.309150,1.007930,0.763760,0.414180,0.099290,0.039860,2016
337,Czech Republic,23,6.609,1.352682,1.433885,0.754444,0.490946,0.088107,0.036873,2017
490,Czech Republic,21,6.711,1.233000,1.489000,0.854000,0.543000,0.064000,0.034000,2018
645,Czech Republic,20,6.852,1.269000,1.487000,0.920000,0.457000,0.046000,0.036000,2019
800,Czech Republic,19,6.910,1.210000,1.410000,0.890000,0.510000,0.050000,0.050000,2020
952,Czech Republic,18,6.965,1.370000,1.090000,0.703000,0.580000,0.052000,0.046000,2021
1101,Czechia,18,6.920,1.815000,1.260000,0.715000,0.660000,0.158000,0.048000,2022
1247,Czechia,18,6.845,1.823000,1.544000,0.477000,0.693000,0.158000,0.050000,2023
1384,Czechia,18,6.822,1.783000,1.511000,0.638000,0.787000,0.177000,0.068000,2024

In [721]:
df_all_years["Country name"] = df_all_years["Country name"].replace("Czech Republic", "Czechia")
df_all_years[df_all_years["Country name"].str.startswith("Cze")]

,Country name,Happiness rank,Happiness score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
30,Czechia,31,6.505,1.178980,1.206430,0.844830,0.463640,0.106860,0.026520,2015
184,Czechia,27,6.596,1.309150,1.007930,0.763760,0.414180,0.099290,0.039860,2016
337,Czechia,23,6.609,1.352682,1.433885,0.754444,0.490946,0.088107,0.036873,2017
490,Czechia,21,6.711,1.233000,1.489000,0.854000,0.543000,0.064000,0.034000,2018
645,Czechia,20,6.852,1.269000,1.487000,0.920000,0.457000,0.046000,0.036000,2019
800,Czechia,19,6.910,1.210000,1.410000,0.890000,0.510000,0.050000,0.050000,2020
952,Czechia,18,6.965,1.370000,1.090000,0.703000,0.580000,0.052000,0.046000,2021
1101,Czechia,18,6.920,1.815000,1.260000,0.715000,0.660000,0.158000,0.048000,2022
1247,Czechia,18,6.845,1.823000,1.544000,0.477000,0.693000,0.158000,0.050000,2023
1384,Czechia,18,6.822,1.783000,1.511000,0.638000,0.787000,0.177000,0.068000,2024

In [722]:
df_all_years[df_all_years["Country name"].str.startswith("Hong")]

,Country name,Happiness rank,Happiness score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
71,Hong Kong,72,5.474,1.386040,1.058180,1.013280,0.596080,0.394780,0.371240,2015
232,Hong Kong,75,5.458,1.510700,0.870210,0.952770,0.480790,0.400970,0.316470,2016
385,Hong Kong SAR China,71,5.472,1.551675,1.262791,0.943062,0.490969,0.374466,0.293934,2017
545,Hong Kong,76,5.430,1.405000,1.290000,1.030000,0.524000,0.246000,0.291000,2018
701,Hong Kong,76,5.430,1.438000,1.277000,1.122000,0.440000,0.258000,0.287000,2019
859,Hong Kong S.A.R. of China,78,5.510,1.380000,1.240000,1.140000,0.460000,0.290000,0.330000,2020
1011,Hong Kong S.A.R. of China,77,5.477,1.525000,0.841000,0.893000,0.408000,0.232000,0.342000,2021
1164,Hong Kong S.A.R. of China,81,5.425,1.957000,0.954000,0.942000,0.400000,0.147000,0.383000,2022
1311,Hong Kong S.A.R. of China,82,5.308,1.951000,1.201000,0.702000,0.407000,0.123000,0.390000,2023
1452,Hong Kong S.A.R. of China,86,5.316,1.909000,1.184000,0.857000,0.485000,0.147000,0.402000,2024

In [723]:
df_all_years["Country name"] = df_all_years["Country name"].replace("Hong Kong SAR China", "Hong Kong S.A.R. of China")
df_all_years["Country name"] = df_all_years["Country name"].replace("Hong Kong", "Hong Kong S.A.R. of China")
df_all_years[df_all_years["Country name"].str.startswith("Hong")]

,Country name,Happiness rank,Happiness score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
71,Hong Kong S.A.R. of China,72,5.474,1.386040,1.058180,1.013280,0.596080,0.394780,0.371240,2015
232,Hong Kong S.A.R. of China,75,5.458,1.510700,0.870210,0.952770,0.480790,0.400970,0.316470,2016
385,Hong Kong S.A.R. of China,71,5.472,1.551675,1.262791,0.943062,0.490969,0.374466,0.293934,2017
545,Hong Kong S.A.R. of China,76,5.430,1.405000,1.290000,1.030000,0.524000,0.246000,0.291000,2018
701,Hong Kong S.A.R. of China,76,5.430,1.438000,1.277000,1.122000,0.440000,0.258000,0.287000,2019
859,Hong Kong S.A.R. of China,78,5.510,1.380000,1.240000,1.140000,0.460000,0.290000,0.330000,2020
1011,Hong Kong S.A.R. of China,77,5.477,1.525000,0.841000,0.893000,0.408000,0.232000,0.342000,2021
1164,Hong Kong S.A.R. of China,81,5.425,1.957000,0.954000,0.942000,0.400000,0.147000,0.383000,2022
1311,Hong Kong S.A.R. of China,82,5.308,1.951000,1.201000,0.702000,0.407000,0.123000,0.390000,2023
1452,Hong Kong S.A.R. of China,86,5.316,1.909000,1.184000,0.857000,0.485000,0.147000,0.402000,2024

In [724]:
df_all_years[df_all_years["Country name"].str.startswith("Soma")]

,Country name,Happiness rank,Happiness score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
90,Somaliland region,91,5.057,0.188470,0.951520,0.438730,0.465820,0.503180,0.39928,2015
233,Somalia,76,5.440,0.000000,0.336130,0.114660,0.567780,0.272250,0.31180,2016
254,Somaliland Region,97,5.057,0.255580,0.758620,0.331080,0.391300,0.514790,0.36794,2016
407,Somalia,93,5.151,0.022643,0.721151,0.113989,0.602127,0.291631,0.28241,2017
567,Somalia,98,4.982,0.000000,0.712000,0.115000,0.674000,0.238000,0.28200,2018
737,Somalia,112,4.668,0.000000,0.698000,0.268000,0.559000,0.243000,0.27000,2019

In [725]:
df_all_years["Country name"] = df_all_years["Country name"].replace("Somaliland region", "Somalia")
df_all_years["Country name"] = df_all_years["Country name"].replace("Somaliland Region", "Somalia")
df_all_years[df_all_years["Country name"].str.startswith("Soma")]

,Country name,Happiness rank,Happiness score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
90,Somalia,91,5.057,0.188470,0.951520,0.438730,0.465820,0.503180,0.39928,2015
233,Somalia,76,5.440,0.000000,0.336130,0.114660,0.567780,0.272250,0.31180,2016
254,Somalia,97,5.057,0.255580,0.758620,0.331080,0.391300,0.514790,0.36794,2016
407,Somalia,93,5.151,0.022643,0.721151,0.113989,0.602127,0.291631,0.28241,2017
567,Somalia,98,4.982,0.000000,0.712000,0.115000,0.674000,0.238000,0.28200,2018
737,Somalia,112,4.668,0.000000,0.698000,0.268000,0.559000,0.243000,0.27000,2019

In [726]:
df_all_years[df_all_years["Country name"].str.startswith("Nort")]

,Country name,Happiness rank,Happiness score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
65,North Cyprus,66,5.695,1.208060,1.070080,0.923560,0.490270,0.261690,0.142800,2015
219,North Cyprus,62,5.771,1.311410,0.818260,0.841420,0.435960,0.263220,0.165780,2016
375,North Cyprus,61,5.810,1.346911,1.186303,0.834647,0.471204,0.266846,0.155353,2017
527,Northern Cyprus,58,5.835,1.229000,1.211000,0.909000,0.495000,0.179000,0.154000,2018
689,Northern Cyprus,64,5.718,1.263000,1.252000,1.042000,0.417000,0.191000,0.162000,2019
709,North Macedonia,84,5.274,0.983000,1.294000,0.838000,0.345000,0.185000,0.034000,2019
857,North Cyprus,76,5.540,1.210000,1.180000,1.030000,0.480000,0.200000,0.200000,2020
1008,North Cyprus,74,5.536,1.377000,0.806000,0.801000,0.503000,0.196000,0.200000,2021
1028,North Macedonia,94,5.101,1.068000,0.772000,0.535000,0.450000,0.212000,0.022000,2021
1162,North Cyprus,79,5.467,1.815000,0.888000,0.819000,0.523000,0.130000,0.213000,2022
1172,North Macedonia,89,5.199,1.505000,0.863000,0.637000,0.488000,0.215000,0.031000,2022
1316,North Macedonia,87,5.254,1.498000,1.171000,0.408000,0.515000,0.207000,0.020000,2023
1450,North Macedonia,84,5.369,1.475000,1.277000,0.569000,0.580000,0.194000,0.015000,2024

In [727]:
df_all_years["Country name"] = df_all_years["Country name"].replace("Northern Cyprus", "North Cyprus")
df_all_years[df_all_years["Country name"].str.startswith("Nort")]

,Country name,Happiness rank,Happiness score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
65,North Cyprus,66,5.695,1.208060,1.070080,0.923560,0.490270,0.261690,0.142800,2015
219,North Cyprus,62,5.771,1.311410,0.818260,0.841420,0.435960,0.263220,0.165780,2016
375,North Cyprus,61,5.810,1.346911,1.186303,0.834647,0.471204,0.266846,0.155353,2017
527,North Cyprus,58,5.835,1.229000,1.211000,0.909000,0.495000,0.179000,0.154000,2018
689,North Cyprus,64,5.718,1.263000,1.252000,1.042000,0.417000,0.191000,0.162000,2019
709,North Macedonia,84,5.274,0.983000,1.294000,0.838000,0.345000,0.185000,0.034000,2019
857,North Cyprus,76,5.540,1.210000,1.180000,1.030000,0.480000,0.200000,0.200000,2020
1008,North Cyprus,74,5.536,1.377000,0.806000,0.801000,0.503000,0.196000,0.200000,2021
1028,North Macedonia,94,5.101,1.068000,0.772000,0.535000,0.450000,0.212000,0.022000,2021
1162,North Cyprus,79,5.467,1.815000,0.888000,0.819000,0.523000,0.130000,0.213000,2022
1172,North Macedonia,89,5.199,1.505000,0.863000,0.637000,0.488000,0.215000,0.031000,2022
1316,North Macedonia,87,5.254,1.498000,1.171000,0.408000,0.515000,0.207000,0.020000,2023
1450,North Macedonia,84,5.369,1.475000,1.277000,0.569000,0.580000,0.194000,0.015000,2024

In [728]:
df_all_years[df_all_years["Country name"].str.startswith("Turk")]

,Country name,Happiness rank,Happiness score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
69,Turkmenistan,70,5.548,0.958470,1.226680,0.538860,0.476100,0.169790,0.308440,2015
75,Turkey,76,5.332,1.060980,0.946320,0.731720,0.228150,0.122530,0.157460,2015
222,Turkmenistan,65,5.658,1.080170,1.038170,0.440060,0.374080,0.225670,0.284670,2016
235,Turkey,78,5.389,1.164920,0.877170,0.647180,0.238890,0.047070,0.123480,2016
373,Turkmenistan,59,5.822,1.130777,1.493149,0.437726,0.418272,0.249925,0.259270,2017
383,Turkey,69,5.500,1.198274,1.337753,0.637606,0.300741,0.046693,0.099672,2017
537,Turkmenistan,68,5.636,1.016000,1.533000,0.517000,0.417000,0.199000,0.037000,2018
543,Turkey,74,5.483,1.148000,1.380000,0.686000,0.324000,0.106000,0.109000,2018
704,Turkey,79,5.373,1.183000,1.360000,0.808000,0.195000,0.083000,0.106000,2019
712,Turkmenistan,87,5.247,1.052000,1.538000,0.657000,0.394000,0.244000,0.028000,2019
874,Turkey,93,5.130,1.130000,1.200000,0.780000,0.250000,0.090000,0.120000,2020
876,Turkmenistan,95,5.120,1.010000,1.510000,0.610000,0.520000,0.320000,0.030000,2020
1031,Turkmenistan,97,5.066,1.046000,1.172000,0.439000,0.602000,0.366000,0.033000,2021
1038,Turkey,104,4.948,1.260000,0.809000,0.590000,0.236000,0.097000,0.104000,2021
1161,Turkmenistan,78,5.474,1.484000,1.319000,0.516000,0.649000,0.314000,0.032000,2022
1195,Turkey,112,4.744,1.707000,0.865000,0.702000,0.209000,0.087000,0.115000,2022
1335,Turkiye,106,4.614,1.714000,1.148000,0.467000,0.125000,0.095000,0.096000,2023
1464,Turkiye,98,4.975,1.702000,1.175000,0.631000,0.202000,0.068000,0.115000,2024

In [729]:
df_all_years["Country name"] = df_all_years["Country name"].replace("Turkey", "Turkiye")
df_all_years[df_all_years["Country name"].str.startswith("Turk")]

,Country name,Happiness rank,Happiness score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
69,Turkmenistan,70,5.548,0.958470,1.226680,0.538860,0.476100,0.169790,0.308440,2015
75,Turkiye,76,5.332,1.060980,0.946320,0.731720,0.228150,0.122530,0.157460,2015
222,Turkmenistan,65,5.658,1.080170,1.038170,0.440060,0.374080,0.225670,0.284670,2016
235,Turkiye,78,5.389,1.164920,0.877170,0.647180,0.238890,0.047070,0.123480,2016
373,Turkmenistan,59,5.822,1.130777,1.493149,0.437726,0.418272,0.249925,0.259270,2017
383,Turkiye,69,5.500,1.198274,1.337753,0.637606,0.300741,0.046693,0.099672,2017
537,Turkmenistan,68,5.636,1.016000,1.533000,0.517000,0.417000,0.199000,0.037000,2018
543,Turkiye,74,5.483,1.148000,1.380000,0.686000,0.324000,0.106000,0.109000,2018
704,Turkiye,79,5.373,1.183000,1.360000,0.808000,0.195000,0.083000,0.106000,2019
712,Turkmenistan,87,5.247,1.052000,1.538000,0.657000,0.394000,0.244000,0.028000,2019
874,Turkiye,93,5.130,1.130000,1.200000,0.780000,0.250000,0.090000,0.120000,2020
876,Turkmenistan,95,5.120,1.010000,1.510000,0.610000,0.520000,0.320000,0.030000,2020
1031,Turkmenistan,97,5.066,1.046000,1.172000,0.439000,0.602000,0.366000,0.033000,2021
1038,Turkiye,104,4.948,1.260000,0.809000,0.590000,0.236000,0.097000,0.104000,2021
1161,Turkmenistan,78,5.474,1.484000,1.319000,0.516000,0.649000,0.314000,0.032000,2022
1195,Turkiye,112,4.744,1.707000,0.865000,0.702000,0.209000,0.087000,0.115000,2022
1335,Turkiye,106,4.614,1.714000,1.148000,0.467000,0.125000,0.095000,0.096000,2023
1464,Turkiye,98,4.975,1.702000,1.175000,0.631000,0.202000,0.068000,0.115000,2024

In [730]:

df_all_years[df_all_years["Country name"].str.startswith("Trini")]

,Country name,Happiness rank,Happiness score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
40,Trinidad and Tobago,41,6.168,1.211830,1.183540,0.614830,0.558840,0.318440,0.011400,2015
200,Trinidad and Tobago,43,6.168,1.325720,0.985690,0.526080,0.484530,0.319350,0.012410,2016
352,Trinidad and Tobago,38,6.168,1.361356,1.380229,0.519983,0.518631,0.325296,0.008965,2017
507,Trinidad Tobago,38,6.192,1.223000,1.492000,0.564000,0.575000,0.171000,0.019000,2018
664,Trinidad Tobago,39,6.192,1.231000,1.477000,0.713000,0.489000,0.185000,0.016000,2019
823,Trinidad and Tobago,42,6.190,1.170000,1.410000,0.660000,0.550000,0.200000,0.020000,2020

In [731]:
df_all_years["Country name"] = df_all_years["Country name"].replace("Trinidad Tobago", "Trinidad and Tobago")

df_all_years[df_all_years["Country name"].str.startswith("Trini")]

,Country name,Happiness rank,Happiness score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
40,Trinidad and Tobago,41,6.168,1.211830,1.183540,0.614830,0.558840,0.318440,0.011400,2015
200,Trinidad and Tobago,43,6.168,1.325720,0.985690,0.526080,0.484530,0.319350,0.012410,2016
352,Trinidad and Tobago,38,6.168,1.361356,1.380229,0.519983,0.518631,0.325296,0.008965,2017
507,Trinidad Tobago,38,6.192,1.223000,1.492000,0.564000,0.575000,0.171000,0.019000,2018
664,Trinidad Tobago,39,6.192,1.231000,1.477000,0.713000,0.489000,0.185000,0.016000,2019
823,Trinidad and Tobago,42,6.190,1.170000,1.410000,0.660000,0.550000,0.200000,0.020000,2020

In [732]:
df_all_years.replace(["NaN", "nan", "N/A", "null", "None", " "], np.nan, inplace=True)

df_no_nulls = df_all_years.dropna()

countries_with_2024 = df_no_nulls[df_no_nulls["Year"] == 2024]["Country name"].unique()

df_2024_countries = df_no_nulls[df_no_nulls["Country name"].isin(countries_with_2024)]
print("До очистки:", df_all_years.shape[0])
print("После очистки:", df_2024_countries.shape[0])

До очистки: 1510
После очистки: 1363

In [733]:
df_2024_countries.sample(20)

,Country name,Happiness rank,Happiness score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
139,Comoros,140,3.956,0.239060,0.792730,0.363150,0.229170,0.174410,0.199000,2015
775,Malawi,150,3.410,0.191000,0.560000,0.495000,0.443000,0.218000,0.089000,2019
239,Philippines,82,5.279,0.812170,0.878770,0.470360,0.548540,0.216740,0.117570,2016
1111,Romania,28,6.477,1.719000,1.006000,0.655000,0.605000,0.039000,0.006000,2022
140,Uganda,141,3.931,0.211020,1.132990,0.338610,0.457270,0.290660,0.072670,2015
983,El Salvador,49,6.061,0.845000,0.675000,0.565000,0.615000,0.116000,0.160000,2021
603,Niger,134,4.166,0.131000,0.867000,0.221000,0.390000,0.175000,0.099000,2018
1049,Mozambique,115,4.794,0.183000,0.634000,0.196000,0.608000,0.228000,0.163000,2021
957,Malta,23,6.602,1.411000,1.055000,0.747000,0.664000,0.275000,0.183000,2021
742,Iran,117,4.548,1.100000,0.842000,0.785000,0.305000,0.270000,0.125000,2019
1199,Comoros,116,4.609,0.899000,0.476000,0.424000,0.185000,0.195000,0.125000,2022
989,Nicaragua,55,5.972,0.693000,0.904000,0.604000,0.553000,0.201000,0.176000,2021
325,Israel,11,7.213,1.375382,1.376290,0.838404,0.405989,0.330083,0.085242,2017
426,Kenya,112,4.553,0.560479,1.067951,0.309988,0.452764,0.444860,0.064641,2017
536,Moldova,67,5.640,0.657000,1.301000,0.620000,0.232000,0.171000,0.000000,2018
765,India,140,4.015,0.755000,0.765000,0.588000,0.498000,0.200000,0.085000,2019
627,Denmark,2,7.600,1.383000,1.573000,0.996000,0.592000,0.252000,0.410000,2019
555,China,86,5.246,0.989000,1.142000,0.799000,0.597000,0.029000,0.103000,2018
178,Mexico,21,6.778,1.115080,0.714600,0.711430,0.377090,0.117350,0.183550,2016
12,Austria,13,7.200,1.337230,1.297040,0.890420,0.624330,0.330880,0.186760,2015

In [734]:
df_2024_countries[df_2024_countries["Country name"].str.startswith("Bel")]

,Country name,Happiness rank,Happiness score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
18,Belgium,19,6.937,1.307820,1.285660,0.896670,0.584500,0.222500,0.225400,2015
175,Belgium,18,6.929,1.425390,1.052490,0.819590,0.513540,0.242400,0.262480,2016
331,Belgium,17,6.891,1.463781,1.462313,0.818092,0.539771,0.231503,0.251343,2017
485,Belgium,16,6.927,1.324000,1.483000,0.894000,0.583000,0.188000,0.240000,2018
643,Belgium,18,6.923,1.356000,1.504000,0.986000,0.473000,0.160000,0.210000,2019
801,Belgium,20,6.860,1.300000,1.400000,0.960000,0.500000,0.150000,0.210000,2020
954,Belgium,20,6.834,1.463000,0.998000,0.747000,0.489000,0.088000,0.187000,2021
1102,Belgium,19,6.805,1.907000,1.106000,0.764000,0.492000,0.049000,0.204000,2022
1246,Belgium,17,6.859,1.907000,1.449000,0.528000,0.590000,0.137000,0.273000,2023
1382,Belgium,16,6.894,1.868000,1.440000,0.690000,0.729000,0.170000,0.311000,2024

In [736]:
df_all_years.to_csv("happiness_all_years.csv", index=False)
df_2024_countries.to_csv("happiness_all_years_short.csv", index=False)